﻿using System;
using System.Collections.Generic;
{{#if use-data-annotations}}
using System.ComponentModel.DataAnnotations;
using System.ComponentModel.DataAnnotations.Schema;
{{/if}}
{{#each imports}}
using {{import}};
{{/each}}
using Fenglisu.Base.Repositories;
